@page
@model LoginRegistration.Pages.LogoutModel
@{
}


<form method="post">
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-12 col-lg-4">
				<p>Are you sure you want to logout?</p> <p>
				</p>
				<button class="btn btn-primary" asp-page-handler="Logout">Yes</button>
				<button class="btn btn-light ml-5 border-dark" asp-page-handler="Dont Logout">No</button>
			</div>
		</div>
	</div>
</form>